<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<connectionStrings>
		<add name="Controle_Vendas" connectionString="server=localhost; user ID=root; password=12345; database=vendas" providerName="MySql.Data.MySqlClient;"/>
	</connectionStrings>
</configuration>